__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Ignore node_modules directory
/client/node_modules/

# Дополнительные правила для Node.js проектов
node_modules/
npm-debug.log
yarn-error.log
.env
.DS_Store